@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MusteriLayout.cshtml";
}

<br />
<h2>Müşteri Bilgi Paneli</h2>

@using(Html.BeginForm("Index2","MusteriPanel",FormMethod.Post))
{
    <table class="table table-hover">
        <tr>
            <td><label>Mail Adresi: @HttpContext.Current.User.Identity.Name</label></td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariAdi, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSoyadi, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSifre, new { @class = "form-control" })</td>
        </tr>
    </table>
    <button class="btn btn-warning">Bilgilerimi Güncelle</button>
}

