@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>SERİ SIRA NO</th>
        @*<th>VERGİ DAİRESİ</th>*@
        <th>TARİH</th>
        <th>SAAT</th>
        @*<th>TESLİM EDEN</th>
        <th>TESLİM ALAN</th>*@
        <th>TOPLAM</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
        <th>YENİ KALEM</th>
    </tr>

    @foreach (var f in Model)
    {
        <tr>
            <td>@f.FaturaID</td>
            <td>@f.FaturaSeriNo @f.FaturaSiraNo</td>
            @*<td>@f.VergiDairesi</td>*@
            <td>@f.FaturaTarih</td>
            <td>@f.Saat</td>
            @*<td>@f.TeslimEden</td>
            <td>@f.TeslimAlan</td>*@
            <td>@f.Toplam ₺</td>
            <td><a href="/Fatura/FaturaGetir/@f.FaturaID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@f.FaturaID" class="btn btn-default" style="background-color:royalblue; color:white">Detaylar</a></td>
            <td><a href="/Fatura/FaturaDetay/@f.FaturaID" class="btn btn-default" style="background-color:lightskyblue">Kalem</a></td>
        </tr>
    }
</table>

<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura</a>
<br />
<br />
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach(var x in Model)
                    {
                    <tr>
                        <td>@x.FaturaSeriNo</td>
                        <td>@x.FaturaSiraNo</td>
                        <td>@x.Toplam</td>
                    </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>

