@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>PERSONEL ADI</th>
        <th>PERSONEL SOYADI</th>
        <th>GÖRSEL</th>
        <th>DEPARTMAN</th>
        <th>GÜNCELLE</th>
        <th>SATIŞLAR</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.PersonelID</td>
            <td>@p.PersonelAdi</td>
            <td>@p.PersonelSoyadi</td>
            <td>@p.PersonelAdi</td>
            <td>@p.Departman.DepartmanAdi</td>
            <td><a href="/Personel/PersonelGetir/@p.PersonelID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@p.PersonelID" class="btn btn-success" style="background-color:royalblue">Detaylar</a></td>
        </tr>
    }
</table>

<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

